@media screen and (max-width:375px) {
    *{
        list-style: none;
        margin: 0;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
    }
        body{
            width: 100%;
        }
        main{
            width: 100%;
        }
        .firstheader{
            width: 100%;
          padding: 10px 0 10px 0;
            background-color: rgb(240, 125, 48);
        }
       
        .navdiv{
            background-color: rgb(240, 125, 48);  
            display: flex;
            justify-content:space-between;
            padding: 10px 10px 0px 10px;
            font-size: 20px;
        }
        .secondheader{
            display: none;
        }
        
        .sectiontwonavbar{
            display: flex;
            gap: 10px;
            flex-direction: row;
            font-family:Arial, Helvetica, sans-serif;
          
        }
        
        #addcartvalue{
            position: relative;
            bottom: 10px;
            right: 10px;
            background-color: rgb(102, 50, 7);
            color: white;
            padding: 2px 5px 2px 5px;
            font-size: 10px;
            border-radius: 5px;
        }
        .navdiv a{
            text-decoration: none;
            color: white;
        }
        #signinglinkdiv{
            font-size: 13px;
        }
    
        .searchbar{
            display: flex;
        }
        .searchbar .fa-magnifying-glass{
            display: flex;
            align-items: center;
            border: 2px solid rgb(67, 110, 129);
            position: relative;
            right: 37px;
            padding: 3px;
            border-radius: 5px;
            color: rgb(240, 112, 8);
            background-color: rgb(67, 110, 129);
            
          
    
        }
        
        #secondheaderdiv-second,
        .siginginfodiv,
        .thirdheader,
        .locationdiv,
        #optionselectdive ,
         #countryselect ,
          .logodive{
            display: none;
        }
        .searchitembar{
            display: flex;
            width: 80%;
            padding: 9px;
        margin: auto;
        border: none;
        border-radius: 6px;
        font-size: 12px;
        position: relative;
       left: 12px;
        }
    
        .searchbar{
            width: 100%;
            border: 0px solid black;
        }
        .secondheader .secondheaderdiv{
            display: flex;
            gap: 22px;
            cursor: pointer; 
            overflow: auto;
            white-space: nowrap;
            width: 96.8%;
            padding: 10px 7px 10px 5px;
            background-color: rgb(67, 110, 129);
            color:white;
            font-size: 12px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .secondheader .secondheaderdiv li{
            list-style: none;
           padding: 4px;
            
        }
        /* location update with signing */
        .locationupdate {
            background-color:rgb(67, 110, 129);
            width: 100%;
            
        }
        .firstlocationdiv{
            display: flex;
            align-items: center;
            margin:  auto;
            font-family: Arial, Helvetica, sans-serif;
         width: 98%;
            padding: 5px 0px 5px 0px;
            border-top: 0px solid rgb(240, 144, 99); 
        }
        .firstlocationdiv a{
            display: flex;
            gap: 5px;
            width: 90%;
            border: 0px black solid;
            text-decoration: none;
            color: white;
        word-spacing: -1.5px;
        padding: 5px;
    
        }
        .join-premium{
            display: none;
        }
        
        #citylocation{
            font-size: 13px;
        }
        
        .fa-caret-down{
            position: relative;
            left: 3px;
            top: 1px;
        }
        /* review heading title */
        .reviewtileheading{
            border-bottom: 1px solid rgb(172, 169, 169);
            width: 100%;
            background-color: rgb(233, 229, 229);
          

        }
        .reviewtileheading p{
            padding: 10px;
        }
        #customerreviewnote{
            display: none;
        }
    
        .customerreviewsfirst header{
            font-size: 10px;
            padding: 15px 10px;
        }

        .reviewstar{
        
            display: flex;
            gap: 5px;
            padding: 10px 0px 10px 10px;
        }
        .reviewstar a{
            position: relative;
            left: 60px;
            color: rgb(44, 143, 110);
        }
        .reviewstar .fa-star{
            color: goldenrod;
        }
        .numberofrating p{
            padding: 0px 10px;
            color: rgb(66, 65, 63);

        }
        /* review range rating */
        .reviewratingrange{
            border: 0px solid rgb(100, 98, 98);
            width: 92%;
            margin: auto;
        }
        .reviewratingrange p{
            color: rgb(51, 48, 48);
        }
        .reviewratingrange .divrange{
            display: flex;
            gap: 10px;
            margin-top: 3%;
           
        }
        .reviewratingrange .firstdivrange{
            border: 0.2px solid rgb(83, 79, 79);
            width: 70%;
            border-radius: 5px;
           
        }
        /* inside range */
        #range{
            border: 0px solid black;
            width: 80%;
            height: 100%;
            background-color: goldenrod;
            border-radius: 5px 0px 0px 5px;
        }
        #rangesecond{
            border: 0px solid black;
            width: 50%;
            height: 100%;
            background-color: goldenrod;
            border-radius: 5px 0px 0px 5px;
        }
        #rangethird{
            border: 0px solid black;
            width: 30%;
            height: 100%;
            background-color: goldenrod;
            border-radius: 5px 0px 0px 5px;

        }
        #rangefour{
            border: 0px solid black;
            width: 20%;
            height: 100%;
            background-color: goldenrod;
            border-radius: 5px 0px 0px 5px;
            
        }
        #rangefive{
            border: 0px solid black;
            width: 5%;
            height: 100%;
            background-color: goldenrod;
            border-radius: 5px 0px 0px 5px;

        }
        .howreviewswork{
            border: 0px solid black;
            padding: 10px;
        }
        .howreviewswork label{
            border: 0px solid black;
            display: flex;
           align-items: center;
           color: rgb(34, 143, 101);
      
        }
        .howreviewswork label:hover{
            border: 2px solid rgb(219, 91, 6);
            padding: 0px 0px 0px 10px;
            width: 85%;
            border-radius: 10px;
        }
        label::before{
            content:"" ;
            border-width: 7px;
            border-style:solid;
            border-color:transparent transparent transparent rgb(20, 19, 19);
            font-size: 0;
            transition: transform 0.4s;
            transform-origin: 5px center;
        }
        .reviewinfo{
            border: 0px solid black;
            margin-top: 10px;
            background-color: rgb(250, 247, 247);
            height: 0px;
            overflow: hidden;
       
          
        }
        #trigger{
            display: none;
        }

        input:checked ~ label::before{
            transform: rotate(90deg);
        }

        input:checked ~ .reviewinfo{
            height: auto;
           
        }
}

@media screen and (max-width:414px ){
    
    *{
        list-style: none;
        margin: 0;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
    }
        body{
            width: 100%;
        }
        main{
            width: 100%;
        }
        .firstheader{
            width: 100%;
          padding: 10px 0 10px 0;
            background-color: rgb(240, 125, 48);
        }
       
        .navdiv{
            background-color: rgb(240, 125, 48);  
            display: flex;
            justify-content:space-between;
            padding: 10px 10px 0px 10px;
            font-size: 20px;
        }
        .secondheader{
            display: none;
        }
        
        .sectiontwonavbar{
            display: flex;
            gap: 10px;
            flex-direction: row;
            font-family:Arial, Helvetica, sans-serif;
          
        }
        
        #addcartvalue{
            position: relative;
            bottom: 10px;
            right: 10px;
            background-color: rgb(102, 50, 7);
            color: white;
            padding: 2px 5px 2px 5px;
            font-size: 10px;
            border-radius: 5px;
        }
        .navdiv a{
            text-decoration: none;
            color: white;
        }
        #signinglinkdiv{
            font-size: 13px;
        }
    
        .searchbar{
            display: flex;
        }
        .searchbar .fa-magnifying-glass{
            display: flex;
            align-items: center;
            border: 2px solid rgb(67, 110, 129);
            position: relative;
            right: 37px;
            padding: 3px;
            border-radius: 5px;
            color: rgb(240, 112, 8);
            background-color: rgb(67, 110, 129);
            
          
    
        }
        
        #secondheaderdiv-second,
        .siginginfodiv,
        .thirdheader,
        .locationdiv,
        #optionselectdive ,
         #countryselect ,
          .logodive{
            display: none;
        }
        .searchitembar{
            display: flex;
            width: 80%;
            padding: 9px;
        margin: auto;
        border: none;
        border-radius: 6px;
        font-size: 12px;
        position: relative;
       left: 12px;
        }
    
        .searchbar{
            width: 100%;
            border: 0px solid black;
        }
        .secondheader .secondheaderdiv{
            display: flex;
            gap: 22px;
            cursor: pointer; 
            overflow: auto;
            white-space: nowrap;
            width: 96.8%;
            padding: 10px 7px 10px 5px;
            background-color: rgb(67, 110, 129);
            color:white;
            font-size: 12px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .secondheader .secondheaderdiv li{
            list-style: none;
           padding: 4px;
            
        }
        /* location update with signing */
        .locationupdate {
            background-color:rgb(67, 110, 129);
            width: 100%;
            
        }
        .firstlocationdiv{
            display: flex;
            align-items: center;
            margin:  auto;
            font-family: Arial, Helvetica, sans-serif;
         width: 98%;
            padding: 5px 0px 5px 0px;
            border-top: 0px solid rgb(240, 144, 99); 
        }
        .firstlocationdiv a{
            display: flex;
            gap: 5px;
            width: 90%;
            border: 0px black solid;
            text-decoration: none;
            color: white;
        word-spacing: -1.5px;
        padding: 5px;
    
        }
        .join-premium{
            display: none;
        }
        
        #citylocation{
            font-size: 13px;
        }
        
        .fa-caret-down{
            position: relative;
            left: 3px;
            top: 1px;
        }
        /* review heading title */
        .reviewtileheading{
            border-bottom: 1px solid rgb(172, 169, 169);
            width: 100%;
            background-color: rgb(233, 229, 229);
          

        }
        .reviewtileheading p{
            padding: 10px;
        }
        #customerreviewnote{
            display: none;
        }
    
        .customerreviewsfirst header{
            font-size: 10px;
            padding: 15px 10px;
        }

        .reviewstar{
        
            display: flex;
            gap: 5px;
            padding: 10px 0px 10px 10px;
        }
        .reviewstar a{
            position: relative;
            left: 60px;
            color: rgb(44, 143, 110);
        }
        .reviewstar .fa-star{
            color: goldenrod;
        }
        .numberofrating p{
            padding: 0px 10px;
            color: rgb(66, 65, 63);

        }
        /* review range rating */
        .reviewratingrange{
            border: 0px solid rgb(100, 98, 98);
            width: 92%;
            margin: auto;
        }
        .reviewratingrange p{
            color: rgb(51, 48, 48);
        }
        .reviewratingrange .divrange{
            display: flex;
            gap: 10px;
            margin-top: 3%;
           
        }
        .reviewratingrange .firstdivrange{
            border: 0.2px solid rgb(83, 79, 79);
            width: 70%;
            border-radius: 5px;
           
        }
        /* inside range */
        #range{
            border: 0px solid black;
            width: 80%;
            height: 100%;
            background-color: goldenrod;
            border-radius: 5px 0px 0px 5px;
        }
        #rangesecond{
            border: 0px solid black;
            width: 50%;
            height: 100%;
            background-color: goldenrod;
            border-radius: 5px 0px 0px 5px;
        }
        #rangethird{
            border: 0px solid black;
            width: 30%;
            height: 100%;
            background-color: goldenrod;
            border-radius: 5px 0px 0px 5px;

        }
        #rangefour{
            border: 0px solid black;
            width: 20%;
            height: 100%;
            background-color: goldenrod;
            border-radius: 5px 0px 0px 5px;
            
        }
        #rangefive{
            border: 0px solid black;
            width: 5%;
            height: 100%;
            background-color: goldenrod;
            border-radius: 5px 0px 0px 5px;

        }
        .howreviewswork{
            border: 0px solid black;
            padding: 10px;
        }
        .howreviewswork label{
            border: 0px solid black;
            display: flex;
           align-items: center;
           color: rgb(34, 143, 101);
      
        }
        .howreviewswork label:hover{
            border: 2px solid rgb(219, 91, 6);
            padding: 0px 0px 0px 10px;
            width: 85%;
            border-radius: 10px;
        }
        label::before{
            content:"" ;
            border-width: 7px;
            border-style:solid;
            border-color:transparent transparent transparent rgb(20, 19, 19);
            font-size: 0;
            transition: transform 0.4s;
            transform-origin: 5px center;
        }
        .reviewinfo{
            border: 0px solid black;
            margin-top: 10px;
            background-color: rgb(250, 247, 247);
            height: 0px;
            overflow: hidden;
       
          
        }
        #trigger{
            display: none;
        }

        input:checked ~ label::before{
            transform: rotate(90deg);
        }

        input:checked ~ .reviewinfo{
            height: auto;
           
        }
}
@media screen and (max-width:390px){
    
    *{
        list-style: none;
        margin: 0;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
    }
        body{
            width: 100%;
        }
        main{
            width: 100%;
        }
        .firstheader{
            width: 100%;
          padding: 10px 0 10px 0;
            background-color: rgb(240, 125, 48);
        }
       
        .navdiv{
            background-color: rgb(240, 125, 48);  
            display: flex;
            justify-content:space-between;
            padding: 10px 10px 0px 10px;
            font-size: 20px;
        }
        .secondheader{
            display: none;
        }
        
        .sectiontwonavbar{
            display: flex;
            gap: 10px;
            flex-direction: row;
            font-family:Arial, Helvetica, sans-serif;
          
        }
        
        #addcartvalue{
            position: relative;
            bottom: 10px;
            right: 10px;
            background-color: rgb(102, 50, 7);
            color: white;
            padding: 2px 5px 2px 5px;
            font-size: 10px;
            border-radius: 5px;
        }
        .navdiv a{
            text-decoration: none;
            color: white;
        }
        #signinglinkdiv{
            font-size: 13px;
        }
    
        .searchbar{
            display: flex;
        }
        .searchbar .fa-magnifying-glass{
            display: flex;
            align-items: center;
            border: 2px solid rgb(67, 110, 129);
            position: relative;
            right: 37px;
            padding: 3px;
            border-radius: 5px;
            color: rgb(240, 112, 8);
            background-color: rgb(67, 110, 129);
            
          
    
        }
        
        #secondheaderdiv-second,
        .siginginfodiv,
        .thirdheader,
        .locationdiv,
        #optionselectdive ,
         #countryselect ,
          .logodive{
            display: none;
        }
        .searchitembar{
            display: flex;
            width: 80%;
            padding: 9px;
        margin: auto;
        border: none;
        border-radius: 6px;
        font-size: 12px;
        position: relative;
       left: 12px;
        }
    
        .searchbar{
            width: 100%;
            border: 0px solid black;
        }
        .secondheader .secondheaderdiv{
            display: flex;
            gap: 22px;
            cursor: pointer; 
            overflow: auto;
            white-space: nowrap;
            width: 96.8%;
            padding: 10px 7px 10px 5px;
            background-color: rgb(67, 110, 129);
            color:white;
            font-size: 12px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .secondheader .secondheaderdiv li{
            list-style: none;
           padding: 4px;
            
        }
        /* location update with signing */
        .locationupdate {
            background-color:rgb(67, 110, 129);
            width: 100%;
            
        }
        .firstlocationdiv{
            display: flex;
            align-items: center;
            margin:  auto;
            font-family: Arial, Helvetica, sans-serif;
         width: 98%;
            padding: 5px 0px 5px 0px;
            border-top: 0px solid rgb(240, 144, 99); 
        }
        .firstlocationdiv a{
            display: flex;
            gap: 5px;
            width: 90%;
            border: 0px black solid;
            text-decoration: none;
            color: white;
        word-spacing: -1.5px;
        padding: 5px;
    
        }
        .join-premium{
            display: none;
        }
        
        #citylocation{
            font-size: 13px;
        }
        
        .fa-caret-down{
            position: relative;
            left: 3px;
            top: 1px;
        }
        /* review heading title */
        .reviewtileheading{
            border-bottom: 1px solid rgb(172, 169, 169);
            width: 100%;
            background-color: rgb(233, 229, 229);
          

        }
        .reviewtileheading p{
            padding: 10px;
        }
        #customerreviewnote{
            display: none;
        }
    
        .customerreviewsfirst header{
            font-size: 10px;
            padding: 15px 10px;
        }

        .reviewstar{
        
            display: flex;
            gap: 5px;
            padding: 10px 0px 10px 10px;
        }
        .reviewstar a{
            position: relative;
            left: 60px;
            color: rgb(44, 143, 110);
        }
        .reviewstar .fa-star{
            color: goldenrod;
        }
        .numberofrating p{
            padding: 0px 10px;
            color: rgb(66, 65, 63);

        }
        /* review range rating */
        .reviewratingrange{
            border: 0px solid rgb(100, 98, 98);
            width: 92%;
            margin: auto;
        }
        .reviewratingrange p{
            color: rgb(51, 48, 48);
        }
        .reviewratingrange .divrange{
            display: flex;
            gap: 10px;
            margin-top: 3%;
           
        }
        .reviewratingrange .firstdivrange{
            border: 0.2px solid rgb(83, 79, 79);
            width: 70%;
            border-radius: 5px;
           
        }
        /* inside range */
        #range{
            border: 0px solid black;
            width: 80%;
            height: 100%;
            background-color: goldenrod;
            border-radius: 5px 0px 0px 5px;
        }
        #rangesecond{
            border: 0px solid black;
            width: 50%;
            height: 100%;
            background-color: goldenrod;
            border-radius: 5px 0px 0px 5px;
        }
        #rangethird{
            border: 0px solid black;
            width: 30%;
            height: 100%;
            background-color: goldenrod;
            border-radius: 5px 0px 0px 5px;

        }
        #rangefour{
            border: 0px solid black;
            width: 20%;
            height: 100%;
            background-color: goldenrod;
            border-radius: 5px 0px 0px 5px;
            
        }
        #rangefive{
            border: 0px solid black;
            width: 5%;
            height: 100%;
            background-color: goldenrod;
            border-radius: 5px 0px 0px 5px;

        }
        .howreviewswork{
            border: 0px solid black;
            padding: 10px;
        }
        .howreviewswork label{
            border: 0px solid black;
            display: flex;
           align-items: center;
           color: rgb(34, 143, 101);
      
        }
        .howreviewswork label:hover{
            border: 2px solid rgb(219, 91, 6);
            padding: 0px 0px 0px 10px;
            width: 85%;
            border-radius: 10px;
        }
        label::before{
            content:"" ;
            border-width: 7px;
            border-style:solid;
            border-color:transparent transparent transparent rgb(20, 19, 19);
            font-size: 0;
            transition: transform 0.4s;
            transform-origin: 5px center;
        }
        .reviewinfo{
            border: 0px solid black;
            margin-top: 10px;
            background-color: rgb(250, 247, 247);
            height: 0px;
            overflow: hidden;
       
          
        }
        #trigger{
            display: none;
        }

        input:checked ~ label::before{
            transform: rotate(90deg);
        }

        input:checked ~ .reviewinfo{
            height: auto;
           
        }
}
@media screen and (max-width:430px){
    
    *{
        list-style: none;
        margin: 0;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
    }
        body{
            width: 100%;
        }
        main{
            width: 100%;
        }
        .firstheader{
            width: 100%;
          padding: 10px 0 10px 0;
            background-color: rgb(240, 125, 48);
        }
       
        .navdiv{
            background-color: rgb(240, 125, 48);  
            display: flex;
            justify-content:space-between;
            padding: 10px 10px 0px 10px;
            font-size: 20px;
        }
        .secondheader{
            display: none;
        }
        
        .sectiontwonavbar{
            display: flex;
            gap: 10px;
            flex-direction: row;
            font-family:Arial, Helvetica, sans-serif;
          
        }
        
        #addcartvalue{
            position: relative;
            bottom: 10px;
            right: 10px;
            background-color: rgb(102, 50, 7);
            color: white;
            padding: 2px 5px 2px 5px;
            font-size: 10px;
            border-radius: 5px;
        }
        .navdiv a{
            text-decoration: none;
            color: white;
        }
        #signinglinkdiv{
            font-size: 13px;
        }
    
        .searchbar{
            display: flex;
        }
        .searchbar .fa-magnifying-glass{
            display: flex;
            align-items: center;
            border: 2px solid rgb(67, 110, 129);
            position: relative;
            right: 37px;
            padding: 3px;
            border-radius: 5px;
            color: rgb(240, 112, 8);
            background-color: rgb(67, 110, 129);
            
          
    
        }
        
        #secondheaderdiv-second,
        .siginginfodiv,
        .thirdheader,
        .locationdiv,
        #optionselectdive ,
         #countryselect ,
          .logodive{
            display: none;
        }
        .searchitembar{
            display: flex;
            width: 80%;
            padding: 9px;
        margin: auto;
        border: none;
        border-radius: 6px;
        font-size: 12px;
        position: relative;
       left: 12px;
        }
    
        .searchbar{
            width: 100%;
            border: 0px solid black;
        }
        .secondheader .secondheaderdiv{
            display: flex;
            gap: 22px;
            cursor: pointer; 
            overflow: auto;
            white-space: nowrap;
            width: 96.8%;
            padding: 10px 7px 10px 5px;
            background-color: rgb(67, 110, 129);
            color:white;
            font-size: 12px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .secondheader .secondheaderdiv li{
            list-style: none;
           padding: 4px;
            
        }
        /* location update with signing */
        .locationupdate {
            background-color:rgb(67, 110, 129);
            width: 100%;
            
        }
        .firstlocationdiv{
            display: flex;
            align-items: center;
            margin:  auto;
            font-family: Arial, Helvetica, sans-serif;
         width: 98%;
            padding: 5px 0px 5px 0px;
            border-top: 0px solid rgb(240, 144, 99); 
        }
        .firstlocationdiv a{
            display: flex;
            gap: 5px;
            width: 90%;
            border: 0px black solid;
            text-decoration: none;
            color: white;
        word-spacing: -1.5px;
        padding: 5px;
    
        }
        .join-premium{
            display: none;
        }
        
        #citylocation{
            font-size: 13px;
        }
        
        .fa-caret-down{
            position: relative;
            left: 3px;
            top: 1px;
        }
        /* review heading title */
        .reviewtileheading{
            border-bottom: 1px solid rgb(172, 169, 169);
            width: 100%;
            background-color: rgb(233, 229, 229);
          

        }
        .reviewtileheading p{
            padding: 10px;
        }
        #customerreviewnote{
            display: none;
        }
    
        .customerreviewsfirst header{
            font-size: 10px;
            padding: 15px 10px;
        }

        .reviewstar{
        
            display: flex;
            gap: 5px;
            padding: 10px 0px 10px 10px;
        }
        .reviewstar a{
            position: relative;
            left: 60px;
            color: rgb(44, 143, 110);
        }
        .reviewstar .fa-star{
            color: goldenrod;
        }
        .numberofrating p{
            padding: 0px 10px;
            color: rgb(66, 65, 63);

        }
        /* review range rating */
        .reviewratingrange{
            border: 0px solid rgb(100, 98, 98);
            width: 92%;
            margin: auto;
        }
        .reviewratingrange p{
            color: rgb(51, 48, 48);
        }
        .reviewratingrange .divrange{
            display: flex;
            gap: 10px;
            margin-top: 3%;
           
        }
        .reviewratingrange .firstdivrange{
            border: 0.2px solid rgb(83, 79, 79);
            width: 70%;
            border-radius: 5px;
           
        }
        /* inside range */
        #range{
            border: 0px solid black;
            width: 80%;
            height: 100%;
            background-color: goldenrod;
            border-radius: 5px 0px 0px 5px;
        }
        #rangesecond{
            border: 0px solid black;
            width: 50%;
            height: 100%;
            background-color: goldenrod;
            border-radius: 5px 0px 0px 5px;
        }
        #rangethird{
            border: 0px solid black;
            width: 30%;
            height: 100%;
            background-color: goldenrod;
            border-radius: 5px 0px 0px 5px;

        }
        #rangefour{
            border: 0px solid black;
            width: 20%;
            height: 100%;
            background-color: goldenrod;
            border-radius: 5px 0px 0px 5px;
            
        }
        #rangefive{
            border: 0px solid black;
            width: 5%;
            height: 100%;
            background-color: goldenrod;
            border-radius: 5px 0px 0px 5px;

        }
        .howreviewswork{
            border: 0px solid black;
            padding: 10px;
        }
        .howreviewswork label{
            border: 0px solid black;
            display: flex;
           align-items: center;
           color: rgb(34, 143, 101);
      
        }
        .howreviewswork label:hover{
            border: 2px solid rgb(219, 91, 6);
            padding: 0px 0px 0px 10px;
            width: 85%;
            border-radius: 10px;
        }
        label::before{
            content:"" ;
            border-width: 7px;
            border-style:solid;
            border-color:transparent transparent transparent rgb(20, 19, 19);
            font-size: 0;
            transition: transform 0.4s;
            transform-origin: 5px center;
        }
        .reviewinfo{
            border: 0px solid black;
            margin-top: 10px;
            background-color: rgb(250, 247, 247);
            height: 0px;
            overflow: hidden;
       
          
        }
        #trigger{
            display: none;
        }

        input:checked ~ label::before{
            transform: rotate(90deg);
        }

        input:checked ~ .reviewinfo{
            height: auto;
           
        }
}